---
import Layout from '../../layouts/Layout.astro';
import Image from '../../assets/images/portrait.jpg';
import Description from '../../components/sections/Description.astro';
import ImageWrapper from '../../components/wrappers/ImageWrapper.astro';
import List from '../../components/sections/List.astro';

const title = 'Info';
const suffix = 'Yanis Deplazes';
const description =
  'Yanis Deplazes is a visual artist whose work spans various media and technologies, exploring the intersection of analog and digital.';

const thumbnail = Image.src;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/**/*.{jpg,jpeg,png,webp}',
);

const resolveImage = async (url: string) => images[`/src/assets${url}`]?.();

let resolvedThumbnail;

if (thumbnail) {
  const resolved = await resolveImage(thumbnail);
  resolvedThumbnail = resolved?.default; // Use the URL string directly
}
---

<Layout
  title={`${title} — ${suffix}`}
  description={description}
  imageSrc={Image.src}
>
  <Description title="Info">
    <div slot="additional">
      <p>
        <b>Yanis Deplazes</b> is a visual artist whose work spans various media and
        technologies, exploring the intersection of analog and digital. Currently,
        they split their time between Switzerland and the Netherlands, working on
        projects across Europe.
      </p>
      <p>
        With a background in computer science that began in 2016, Yanis ventured
        into photography in 2020. In 2023, they expanded their creative practice
        to include analog mediums, blending both digital and analog techniques
        in their work.
      </p>
      <p>
        Their work focuses on exploring people and society through multimedia.
        Where they seek to investigate social structures by creating
        experimental apparatus that critically examine the various facets of
        everyday life.
      </p>
      <p>
        Developer and Designer at <a href="http://binaryone.ch/" target="_blank"
          >BINARY one GmbH</a
        >; and currently available for freelance projects and commissioned work
        worldwide.
      </p>
      <List title="Member">
        <li>
          <a href="https://poolcollective.ch/" target="_blank"
            >pool collective</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/thick.collective/" target="_blank"
            >thick collective</a
          >
        </li>
        <li>
          <a href="https://nppa.org/" target="_blank">NPPA</a>
        </li>
      </List>
      <List title="Contact">
        <li><a href="mailto:work@yanis.io" target="_blank">email</a></li>
        <li>
          <a href="https://www.instagram.com/yanisdeplazes/" target="_blank"
            >instagram</a
          >
        </li>
      </List>
      <List title="Exhibitions">
        <li>
          2026 - <a
            href="https://social-footprints.com/?artist=yanis-deplazes"
            target="_blank"><b>Social Footprints: Innocence and otherwise</b></a
          >, Wanakam, Amsterdam
        </li>
        <li>
          2025 - <b>Parallel Documentary Premiere</b>, FC Hyena, Amsterdam
        </li>
        <li>
          2025 - <b>ECHO Recordings and AOS</b>, OT301, Amsterdam
        </li>
        <li>
          2025 - <b>Disconnect</b>, MA'DAM, Amsterdam
        </li>
      </List>
      <List title="Publications">
        <li>
          2026 - <a
            href="https://www.instagram.com/p/DXzw7YNjCeI/?img_index=1"
            target="_blank">May Day 2026 - Zurich</a
          >, The Resistance Archive
        </li>
        <li>
          2026 -
          <a
            href="https://www.instagram.com/p/DSFVDZ8jH2S/?img_index=17"
            target="_blank">Open Call / ZONE 5</a
          >, Zone Magazine
        </li>
        <li>
          2025 -
          <a
            href="https://www.instagram.com/p/DIBbsrsom32/?next=%2Fdirect%2Ft%2F17844926996877027%2F&img_index=1"
            target="_blank">Open Call / ZONE 4</a
          >, Zone Magazine
        </li>
        <li>
          2024 -
          <a
            href="https://www.srf.ch/news/schweiz/cybersecurity-statt-darknet-kraeftemessen-der-nachwuchshacker-in-morges"
            target="_blank">Kräftemessen der Nachwuchshacker in Morges</a
          >, SRF
        </li>
        <li>
          2024 -
          <a
            href="https://www.luzernerzeitung.ch/zentralschweiz/uri/altdorf-ein-tag-voller-kunst-musik-und-guter-vibes-msa-dayz-gehen-in-die-zweite-runde-ld.2655098"
            target="_blank">Ein Tag voller Kunst, Musik und guter «Vibes»</a
          >, Luzerner Zeitung
        </li>
        <li>
          2021 -
          <a
            href="https://www.urnerwochenblatt.ch/artikel/ein-urner-rappt-ueber-sein-bewegtes-leben"
            target="_blank">Ein Urner rappt über sein bewegtes Leben</a
          >, Urner Wochenblatt
        </li>
      </List>
      <List title="Education">
        <li>
          2023 — 2026 - <b
            >Bachelor of Science in Computer Science, Digital Ideation</b
          >, Lucerne University of Applied Sciences and Arts
        </li>
        <li>
          Spring 2025 - <b>Internet of Things Program Abroad Semester</b>,
          Amsterdam University of Applied Sciences
        </li>
        <li>
          2018 — 2022 - <b>Mediamatics Technician EFZ with technical FVB</b>,
          SBW NEUE MEDIEN
        </li>
      </List>
    </div>

    <div slot="details">
      {
        Image && (
          <div class="description-image">
            <ImageWrapper src={Image} alt="Yanis Deplazes" caption="Yanis" />
          </div>
        )
      }
    </div>
  </Description>
</Layout>

<style is:global>
  figure {
    cursor: default !important;
  }
</style>
