---
import Wrapper from '../../layouts/Wrapper.astro';
import WorkWrapper from '../wrappers/WorkWrapper.astro';
import { getCollection } from 'astro:content';

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/**/*.{jpg,jpeg,png,webp}',
);

const resolveImage = async (url: string) => images[`/src/assets${url}`]?.();

interface Props {
  filterOngoing: boolean;
  className?: string;
}

const { filterOngoing, className = '' } = Astro.props;

const work = (await getCollection('work'))
  .filter(({ data }) => data.ongoing === filterOngoing)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const resolvedWork = await Promise.all(
  work.map(async ({ data, slug }) => ({
    slug,
    date: new Date(data.date).getFullYear(),
    title: data.title,
    type: data.type.join(', '),
    ongoing: data.ongoing,
    resolvedThumbnail: data.thumbnail
      ? (await resolveImage(data.thumbnail))?.default
      : undefined,
  })),
);
---

<section class={`work ${className}`} data-background="var(--color-section-7)">
  <Wrapper>
    <div class={`content ${filterOngoing ? 'ongoing' : 'completed'}`}>
      {
        resolvedWork.map(
          (item) =>
            item.resolvedThumbnail && (
              <div class="item reveal-on-scroll">
                <WorkWrapper
                  slug={item.slug}
                  date={item.date}
                  title={item.title}
                  type={item.type}
                  src={item.resolvedThumbnail}
                  ongoing={item.ongoing}
                />
              </div>
            ),
        )
      }
    </div>
  </Wrapper>
</section>

<style lang="scss">
  .work {
    .content.ongoing {
      display: flex;
      align-items: center;
      .item {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 4 / 3;
        justify-self: start;
      }
    }
    .content.completed {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: calc(100vh);
      position: relative;
      .item {
        height: 70vh;
        width: auto;
        max-width: 100%;
        aspect-ratio: 4 / 3;
        justify-self: start;
        &:nth-child(even) {
          transform: translateY(85vh);
          justify-self: end;
        }
      }
    }
  }
</style>
