---
import Wrapper from '../../layouts/Wrapper.astro';
import Background from '../../components/Background.astro';
import SelectedWork from '../SelectedWork.astro';
import { selected } from '../../data/works.json';

const section = {
  title: 'Selected Work',
};
---

<section id="section_to-pin" class="work_preview">
  <div class="title">
    <h2 class="fahkwang-bold font-size-1">{section.title}</h2>
  </div>
  <div id="section_pin">
    <Wrapper>
      <div class="works">
        {
          selected.map((work) => (
            <SelectedWork
              title={work.title}
              type={work.type}
              videoUrl={work.videoUrl}
              imageUrl={work.imageUrl}
              link={work.link}
            />
          ))
        }
      </div>
    </Wrapper>
  </div>
  <Background />
</section>

<style lang="scss">
  .work_preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: 768px) {
      max-height: 100vh;
      position: relative;
      width: 100%;
    }

    #section_pin {
      display: flex;
      width: 100%;
      z-index: 1;
      @media (min-width: 768px) {
        height: 100vh;
      }
    }

    .title {
      z-index: 1;
      width: 100%;
      text-align: center;

      @media (min-width: 768px) {
        position: fixed;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .works {
      display: flex;
      gap: var(--space-m);
      flex-wrap: nowrap;
      width: 100%;
      align-items: flex-end;
      flex-direction: column;
      margin-left: auto;
      height: 100%;
      margin-right: auto;
      @media (min-width: 768px) {
        flex-direction: row;
        margin: unset;
        width: max-content;
      }
    }
  }
</style>

<style lang="scss" is:global>
  .work {
    .background {
      @media (max-width: 768px) {
        height: 100%;
        max-height: unset;
      }
    }
  }
</style>
