---
// src/pages/work/index.astro
import Layout from '../../layouts/Layout.astro';
import Image from '../../assets/images/default.png';
import Title from '../../components/sections/Title.astro';
import Work from '../../components/sections/Work.astro';
import PageContent from '../../layouts/PageContent.astro';

const title = 'Work';
const suffix = 'Yanis Deplazes';
const description =
  'Browse all creative, code-based, and media work by Yanis Deplazes.';
const infos = ['List', 'Grid'];
---

<Layout
  title={`${title} — ${suffix}`}
  description={description}
  imageSrc={Image.src}
  infos={infos}
>
  <Title title={title} />

  <PageContent>
    <p>
      A selection of current work in progress—open-ended, evolving, and in
      motion.
    </p>
  </PageContent>
  <Work filterOngoing={true} />
  <PageContent>
    <p>
      A collection of completed projects across media, tech, and visual
      exploration.
    </p>
  </PageContent>
  <Work filterOngoing={false} />
</Layout>
