---
type Path = `/${string}.${'jpg' | 'png' | 'webp' | 'svg'}`;

interface Props {
  title: string;
  description: string;
  image: Path;
}

import Header from './Header.astro';
import Footer from './Footer.astro';

import '../styles/main.scss';

const baseUrl = 'https://yanis.io';
const currentPath = Astro.url.pathname;
const url = `${baseUrl}${currentPath}`;

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={url} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="yanis.io" />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="theme-color" content="#000000" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />

    <script src="../scripts/gsapScroll.js"></script>
  </body>
</html>
